	<div class="footer"> 
		<small>
			Anne's first app project
			<%= link_to "Class One Month Rails", "http://onemonthrails.com" %>
			by <%= link_to "Professor Mattan Griffel", "http://mattangriffel.com" %>
		</small>
	</div>